
.ftco-navbar-light {
    background: transparent!important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    // padding-top: 30px;
    // border-bottom: 1px solid rgba(0,0,0,.05);
    @include media-breakpoint-down(md) {
        background: $black!important;
        position: relative;
        top: 0;
        padding: 0 15px;
    }
    .container{
        width: 1110px;
        margin: 0 auto;
        padding: 0;
        @include media-breakpoint-up(lg){
        }
    }

    .navbar-brand {
        color: $black;
        padding-top: .7rem;
        padding-bottom: .7rem;
        &:hover, &:focus{
            color: $black !important;
        }
        @include media-breakpoint-down(md){
            color: $white;
        }
    }

    .navbar-nav {
        @include media-breakpoint-down(md){
            padding-bottom: 20px;
            // margin-left: 20px !important;
            margin-right: 0;
        }
        > .nav-item {
            > .nav-link {
                font-size: 16px;
                padding: .7rem 20px;
                color: #051441;
                font-weight: 600;
                opacity: 1!important;
                span {
                    position: relative;
                    display: block;
                    padding-bottom: 2px;
                    @include media-breakpoint-down(lg){
                        display: inline-block;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background: $primary;
                        visibility: visible;
                        -webkit-transform: scaleX(0);
                        -moz-transform: scaleX(0);
                        -ms-transform: scaleX(0);
                        -o-transform: scaleX(0);
                        transform: scaleX(0);
                        -webkit-transition: all 0.3s ease-in-out 0s;
                        -moz-transition: all 0.3s ease-in-out 0s;
                        -ms-transition: all 0.3s ease-in-out 0s;
                        -o-transition: all 0.3s ease-in-out 0s;
                        transition: all 0.3s ease-in-out 0s;
                    }
                }
                &:hover{
                    span {
                        &:before {
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            -moz-transform: scaleX(1);
                            -ms-transform: scaleX(1);
                            -o-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }
                }
                @include media-breakpoint-down(md){
                    padding: 0 0 1rem;
                    color: $white;
                }
            }

            &.cta {
                > a {
                    color: $white;
                    border: 1px solid $primary;
                    padding: .7rem 18px;
                    background: $primary;
                    margin-top: 0;
                    @include border-radius(5px);
                    span {
                        display: inline-block;
                        color: $white;
                    }
                    &:hover{
                        background: $primary;
                        border: 1px solid $primary;
                    }
                }
                &.cta-colored {
                    a{
                        border: 1px solid $secondary;
                        background: $secondary !important;
                    }
                }
            }

            .nav-link {
                &.active {
                    background: transparent;
                    background: none;
                    color: $primary;
                    span {
                        &:before {
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }
                }
            }

            @include media-breakpoint-down(md){
                &.active {
                    > a {
                        color: $primary;
                    }
                }
            }
        }
    }
    .navbar-toggler {
        border: none;
        color: rgba(255,255,255,.5)!important;
        cursor: pointer;
        padding-right: 0;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: .1em;
        &:hover, &:focus {
            text-decoration: none;
            color: $primary;
            outline: none !important;
        }
    }

    &.scrolled  {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        margin-top: -130px;
        background: $white!important;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
        padding: 0 15px;
        .nav-item {
            > .nav-link{
                color: $black !important;
                @include media-breakpoint-down(md){
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                    padding-bottom: 20px !important;
                }
            }
            &.active {
                > a {
                    color: $primary!important;
                }
            }
            &.cta {
                > a {
                    color: $white !important;
                    background: $primary;
                    border: none !important;
                    padding: .5rem 20px !important;
                    margin-top: 5px !important;
                    @include border-radius(5px);
                    span {
                        display: inline-block;
                        color: $white !important;
                    }
                }
                &.cta-colored {
                    span {
                        border-color: $primary;
                    }
                }
            }
        }

        .navbar-nav {
            @include media-breakpoint-down(md) {
                background: none;
                border-radius: 0px;
                padding-left: 0!important;
                padding-right: 0!important;
                margin-left: 0 !important;
            }
        }

        .navbar-toggler {
            border: none;
            color: rgba(0,0,0,.5)!important;
            border-color: rgba(0,0,0,.5)!important;
            cursor: pointer;
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: .1em;

        }
        .nav-link {
            color: $black!important;
            &.active {
                color: $primary!important;
            }
        }
        &.awake {
            margin-top: 0px;
            transition: .3s all ease-out;
        }
        &.sleep {
            transition: .3s all ease-out;
        }

        .navbar-brand {
            color: $black;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 24px;
        }
    }
}

.navbar-brand {
    font-weight: 900;
    font-size: 26px;
    position: relative;
    z-index: 0;
    span{
        color: $primary;
    }
}


#navi {
    top: 180px;
    position: -webkit-sticky;
    position: sticky;
    margin: 0;
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        font-weight: 700;
        list-style: none;
        margin-bottom: 15px;
        a{
            color: #263b5e;
            &.current {
                // border-bottom: 4px solid $primary;
                color: $primary;
                margin-left: 20px;
                position: relative;
                &:after{
                    position: absolute;
                    top: 50%;
                    left: -24px;
                    width: 20px;
                    height: 2px;
                    content: '';
                    transform: translateY(-50%);
                    background: $primary;
                }
            }
        }
    }
}
