
.hero-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: $white;
        z-index: 1;
        opacity: 0;
        @include media-breakpoint-down(md){
            opacity: .5;
        }
    }
    .slider-text {
        height: 750px;
        z-index: 0;
        overflow: hidden;
        @include media-breakpoint-down(md){
            text-align: center;
            height: 750px;
        }
        .one-third{
            width: 60%;
            position: relative;
            z-index: -1;
            .overlay{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: $white;
                opacity: 0;
            }
            @include media-breakpoint-down(md){
                width: 100%;
                z-index: 0;
                .overlay{
                    opacity: .3;
                }
                &:after{
                    opacity: 0;
                }
            }
        }
        .one-forth{
            position: relative;
            height: 750px;
            @include media-breakpoint-up(lg){
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 800px;
                margin: 0 auto;
            }
            @include media-breakpoint-down(lg){
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                padding: 1em;
            }
            @include media-breakpoint-down(md){
                height: 600px;
            }
            .text{
                position: relative;
                @include media-breakpoint-up(lg){
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    right: 0;
                    // width: 1200px;
                    max-width: 40%;
                    padding-left: 45px;
                    padding-right: 3em;
                }
            }
        }
        .subheading{
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            color: $primary;
            letter-spacing: 2px;
        }
        h1{
            font-size: 60px;
            font-weight: 900;
            line-height: 1.3;
            span{
                color: $primary;
            }
            @include media-breakpoint-down(sm){
                font-size: 40px;
            }
        }
        h2{
            font-weight: 800;
            span{
                color: $primary;
                text-decoration: underline;
            }
        }
        p {
            font-size: 18px;
            line-height: 1.5;
            font-weight: 400;
            @include media-breakpoint-down(md){
                color: $black;
            }
            strong{
                font-weight: 700;
                a{
                    color: $black;
                }
            }
        }
        .breadcrumbs{
            font-size: 16px;
            margin-bottom: 20px;
            z-index: 99;
            font-weight: 600;
            text-transform: uppercase;
            span{
                color: rgba(0,0,0,.8);
                i{
                    color: rgba(0,0,0,.8);
                }
                a{
                    color: $primary;
                    &:hover, &:focus{
                        color: $primary;
                        i{
                            color: $primary;
                        }
                    }
                }
            }
        }
        .bread{
            font-weight: 700;
            color: $black;
            font-size: 60px;
        }
    }
}

